<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ssmshop.mapper.OrdersMapper">

    <!--初次意识到resultMap是用来给一个类中的非基本属性赋值的，比如一个对象，一个list-->
    <resultMap id="OrderAndOrderItemResultMap" type="Orders">
        <id column="oid" property="oid"/>
        <result column="uid" property="uid"/>
        <result column="otime" property="otime"/>
        <result column="ototal" property="ototal"/>
        <result column="ostatus" property="ostatus"/>
        <result column="receiver" property="receiver"/>
        <result column="tel" property="tel"/>
        <result column="addr" property="addr"/>
        <!--order下有个orderItem集合-->
        <collection property="items" ofType="OrderItem">
            <id column="itemid" property="itemid"/>
            <result column="oid" property="oid"/>
            <result column="count" property="count"/>
            <result column="pid" property="pid"/>
            <result column="total" property="total"/>
        </collection>
    </resultMap>

    <!--    <select id="findPage" resultType="Orders">-->
    <!--        select * from orders where uid = #{uid} order by otime limit-->
    <!--        #{startIndex},#{pageSize}-->
    <!--    </select>-->
    <select id="findPage" resultMap="OrderAndOrderItemResultMap">
        select
        o.oid,o.uid,o.otime,o.ototal,o.ostatus,o.receiver,o.tel,o.addr,
        oi.itemid,oi.oid,oi.count,oi.pid,oi.total
        from orders o
        join orderitem oi
        on o.oid = oi.oid
        where o.uid = #{uid}
        order by otime
        limit #{startIndex},#{pageSize}
    </select>

    <select id="getTotalRecord" parameterType="string" resultType="int">
        select count(*) from orders where uid = #{uid}
    </select>

    <select id="findOrderByOid" parameterType="string" resultType="Orders">
      select * from orders where oid = #{oid}
    </select>

    <select id="findOrderAll" resultType="Orders">
        select * from orders
    </select>

    <select id="findOdByStatus" parameterType="string" resultType="Orders">
        select * from orders where ostatus = #{status}
    </select>

    <insert id="save" parameterType="Orders">
        insert into orders values
        (#{oid},#{uid},#{otime},#{ototal},#{ostatus},#{receiver},#{tel},#{addr})
    </insert>

    <update id="update" parameterType="Orders">
        update orders
        <set>
            <if test="ototal != null">ototal = #{ototal},</if>
            <if test="ostatus != null">ostatus = #{ostatus},</if>
            <if test="receiver != null">receiver = #{receiver},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="addr != null">addr = #{addr}</if>
        </set>
        where oid = #{oid}
    </update>
</mapper>